recursive-include orangecontrib *.pyx
recursive-include orangecontrib *.py

recursive-include orangecontrib/panosc/wofry/widgets *.png *.svg *.ico *.jpg *.bmp
recursive-include orangecontrib/panosc/syned/widgets *.png *.svg *.ico *.jpg *.bmp
recursive-include orangecontrib/panosc/shadow/widgets *.png *.svg *.ico *.jpg *.bmp *.txt
recursive-include orangecontrib/panosc/srw/widgets *.png *.svg *.ico *.jpg *.bmp

include README.md
include LICENSE
